beautifulsoup4==4.7.0
certifi==2018.11.29
chardet==3.0.4
Deprecated==1.2.4
gitdb2==2.0.5
GitPython==2.1.11
hornstone==0.1.8
idna==2.8
lxml==4.3.0
passlib==1.7.1
psycopg2==2.7.6.1
PyGithub==1.43.4
PyJWT==1.7.1
rarfile==3.0
requests==2.21.0
robobrowser==0.5.3
six==1.12.0
smmap2==2.0.5
soupsieve==1.6.2
SQLAlchemy==1.2.15
SQLAlchemy-Utils==0.33.10
transaction==2.4.0
Unipath==1.1
urllib3==1.24.1
Werkzeug==0.14.1
wrapt==1.10.11
zope.interface==4.6.0
